*{
    box-sizing: border-box;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
}
body{
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
#signin, #join{
    color: var(--text-color);
}
#social{
    text-decoration: none;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    justify-content: center;
}
.navbar-toggler {
    background-color: var(--text-color);
}

.fb {
    background-color: #3B5998;
    color: white;
}
.fb:hover{
    background-color: #3e5688;
}
  
.twitter {
    background-color: #55ACEE;
    color: white;
}
.twitter:hover{
    background-color: #6baee2;
}
.google {
    background-color: #dd4b39;
    color: white;
}
.google:hover{
    background-color: #d35847;
}
.socialIcon i{
    display: flex;
    flex-direction: column-reverse;
    font-size: 2rem;
}

.vl-innertext{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
    font-weight: 500;
    margin-top: 5% ;
        
}
#email, #pass{
    color: var(--bg-color);
    font-weight: 600;
}
#cancel, #continue{
    text-align: center;
}
#continue{
    background-color: #3B5998;
    color: var(--text-color);   
}
#cancel{
    background-color: #dd4b39;
    color: white;
}
#alreadyMemb{
    color: rgb(13, 194, 52);
    
}
#search, #inpSearch{
    border:1px solid #55ACEE;
    background-color: var(--text-color);
    color: var(--second-bg-color);
    font-size: 1.2rem;
}
#search{
    margin-left: -13px;
    border-left: none;
    color: var(--text-color);
    border-start-start-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #1f242d;
}
.bx-search-alt-2{
    font-size: 1.4rem;
}
#modJoin, #modSign{
   background-color: #55ACEE;
}
.btn{
    color: var(--text-color);
}
.btn:hover{
    color: var(--text-color);
}



.title-box {
    text-align: center;
    margin: 100px auto 50px;
}

.title-box p {
    margin-top: 10px;
    line-height: 24px;
}
.bx{
    font-size: 18px;
}
.title-box h1{
    text-shadow: 2px 2px 10px #55ACEE;
}

.profile-box{
    width: 410px;
    height: 320px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 10px rgba(115, 193, 255, 0.1);
    padding: 20px;
    position: relative;
    transition: background 0.5s;
}

.profile-box a{
    text-decoration: none;
    color: #2199f3;
    font-size: 20px;
}
.profile-box:hover a{
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.profile-box .bxl-github{
    font-size: 50px;
    
}

.profile-box img {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;
}

.profile-box h4{
    margin-top:  25px;
    margin-bottom: 5px;
    color: #2197f3;
}

small {
    color: #555;
}

.social-box{
    background: #2197f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
}

.social-box .bx{
    margin: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

.profile-box p {
    text-align: center;
    line-height: 24px;
    color: #555;
}

.team-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.profile-box img:hover{
    width: 370px;
    height: 35vh;
}

.profile-box:hover{
    background: #2197f3;
}

.profile-box:hover h4{
    color: #fff;
}

.profile-box:hover p{
    color: #efefef;
}
.profile-box:hover small{
    color: #fff;
}
.profile-box:hover .social-box{
    background: #fff;
}

.profile-box:hover .social-box .bx{
    color: #2197f3;
}